@charset "utf-8";

/* 
This style sheet applies to all of the HTML Files.
*/

/*Navigational Styles*/








/* 
    This section is set up to allow the nav to be set up in a horizontal style across the page
    */
html {
    background-color: rgba(53, 202, 240, 0.575);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* 
The auto sets up to center the element in the center of the page. 90% makes the outside a different color because the html and the body selectors are different colors.
*/
body {
    background-color: rgb(240, 240, 240);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 2.5em .5em;
    padding-top: 10px;
    margin-top: 0px;

}

nav {
    display: table;
    width: 100%;
    text-align: center;

}

nav>ul {
    display: table-row;
    list-style-type: none;

}

nav>ul>li {
    display: table-cell;

}

nav>ul>li>a {
    text-decoration: none;


}

nav>ul>li>a:link,
nav>ul>li>a:visited {
    color: rgba(145, 145, 145, 0.76);
    background-color: rgb(240, 240, 240);
}

nav>ul>li>a:active,
nav>ul>li>a:hover {
    color: black;
    text-decoration: underline;
    /* color: rgb(240, 240, 240); */
    /* background-color: rgba(151, 151, 151, 0.76); */
}

img#wip {
    float: right;
}

img#globe {
    float: right;
    width: 150px;
    height: 100px;
}